.Chapter-selection {
    font-size: 24px;
    margin-top: 20px;
}

.Practice-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.Reset-button {
    font-size: 24px;
    padding: 5px 20px;
    width: fit-content;
    text-align: center;
    margin-bottom: 10px;
    background-color: rgb(53, 99, 68);
    color: white
}

.Reset-button:hover {
    background-color: rgb(65, 119, 83);
}

.Reset-button:disabled {
    background-color: rgb(96, 107, 100);
}